.navbar{
	border-radius: 0px;
}
.navbar strong{
	font-size: 120%;
}
body #content .row{
	position: relative;
}
body #login-form{
	border: 2px solid #ccc;
	border-radius: 10px;
	text-align: center;
}
#logout{
	display: block;	
}

